<div th:fragment="detailVente(mode)" class="display-enchere">
<!--  ajout de l'image-->
  <ul>
    <li data-th-text="${article.nomArticle}"></li>
    <li data-th-text="'Description : '+${article.description}"></li>
    <li data-th-text="'Catégorie : '+${article.categorie.libelle}"></li>
    <li data-th-if="${enchere.montantEnchere > 0}" data-th-text="'Meilleur offre : '+${enchere.montantEnchere}"></li>
    <li data-th-if="${enchere.montantEnchere == 0}" data-th-text="'Meilleur offre : Aucune offre actuellement'"></li>
    <li data-th-text="'Mise à prix : '+ ${article.miseAPrix}"></li>
    <li data-th-text="'Fin de l\'enchère : ' + ${#dates.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></li>
    <li>  Retrait :
      <ul>
        <li data-th-text="${article.lieuRetrait.rue}"></li>
        <li data-th-text="${article.lieuRetrait.code_Postal} + ' '+ ${article.lieuRetrait.ville}"></li>
      </ul>
    </li>
    <li data-th-text="'Vendeur : ' + ${article.utilisateur.pseudo}"></li>
  </ul>
  <form data-th-if="${mode=='enchere'}" data-th-action="@{'/encherir/' + ${article.noArticle}}" method="post">
    <label for="proposition">Ma proposition : </label>
    <input id="proposition" type="number" name="proposition"
           data-th-min="${enchere.montantEnchere +1}"
           th:value="${enchere.montantEnchere +1}"
           step="1" required>
    <button type="submit">Enchérir</button>
  </form>
</div>
