<div th:fragment="detailVente(mode)" class="display-enchere">
<!--  ajout de l'image-->
  <img data-th-src="@{${article.urlImage}}" alt="Image de l'article">
  <ul>
    <li data-th-text="${article.nomArticle}"></li>
    <li data-th-text="'Description : '+${article.description}"></li>
    <li data-th-text="'Catégorie : '+${article.categorie.libelle}"></li>
    <li data-th-if="${enchere.montantEnchere > 0}" data-th-text="'Meilleur offre : '+${enchere.montantEnchere}+' Crédit(s) par '+${enchere.utilisateur.pseudo}"></li>
    <li data-th-if="${enchere.montantEnchere == 0}" data-th-text="'Meilleur offre : Aucune offre actuellement'"></li>
    <li data-th-text="'Mise à prix : '+ ${article.miseAPrix}+' Crédit(s)'"></li>
    <li data-th-text="'Fin de l\'enchère : ' + ${#dates.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></li>
    <li>  Retrait :
      <ul>
        <li data-th-text="${article.lieuRetrait.rue}"></li>
        <li data-th-text="${article.lieuRetrait.code_Postal} + ' '+ ${article.lieuRetrait.ville}"></li>
      </ul>
    </li>
    <li data-th-text="'Vendeur : ' + ${article.utilisateur.pseudo}"></li>
  </ul>
  <form data-th-if="${mode=='enchere'}" data-th-action="@{'/encherir/' + ${article.noArticle}}" method="post">
    <div data-th-if="${article.utilisateur.noUtilisateur != utilisateur.noUtilisateur}">
      <label for="proposition">Ma proposition : </label>
      <input data-th-if="${enchere.montantEnchere == 0}" id="proposition" type="number" name="proposition"
             data-th-min="${article.miseAPrix +1}"
             th:value="${article.miseAPrix +1}"
             step="1" required>
      <input data-th-if="${enchere.montantEnchere > 0}" id="proposition" type="number" name="proposition"
             data-th-min="${enchere.montantEnchere +1}"
             th:value="${enchere.montantEnchere +1}"
             step="1" required>
      <button type="submit">Enchérir</button>
    </div>

  </form>
</div>
