<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div th:fragment="filtres">
    <div class="recherche-container">
            <form class="radio-form">
                <p>Liste des enchères :</p>

                <<label>
                    <input type="radio" name="type" value="achat"> Achats
                </label>
                <label>
                    <input type="radio" name="type" value="vente"> Ventes
                </label>
    <div id="extra-options" style="display: none; margin-top: 10px;">
            <label><input type="checkbox" name="option1"> Option 1</label><br>
            <label><input type="checkbox" name="option2"> Option 2</label>
        </div>
    </form>
</div>
</body>
</html>
<script>
    const radios = document.querySelectorAll('input[name="type"]');
    radios.forEach(radio => {
        radio.addEventListener('change', function () {
            document.getElementById('extra-options').style.display =
                this.value === 'autre' ? 'block' : 'none';
        });
    });
</script>
