<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div th:fragment="filtres">
    <div class="recherche-container">
        <form class="radio-form" th:action="@{/filtres}" method="get">
            <label>
                <input type="radio" name="type" value="achats"> Achats
            </label>
            <div class="subgroup">
                <label><input type="checkbox" name="achats" value="${encheresEnCours}"> enchères ouvertes</label>
                <label><input type="checkbox" name="achats" value="${encheresParticipe}"> mes enchères en cours</label>
                <label><input type="checkbox" name="achats" value="${encheresTerminer}"> mes enchères remportées</label>
            </div>

            <label>
                <input type="radio" name="type" value="ventes"> Ventes
            </label>
            <div class="subgroup">
                <label><input type="checkbox" name="ventes" value="${ventesEnCours}"> mes ventes en cours</label>
                <label><input type="checkbox" name="ventes" value="${ventesNonDebutes}"> ventes non-débutées</label>
                <label><input type="checkbox" name="ventes" value="${ventesTerminer}"> ventes terminées</label>
            </div>
        </form>
    </div>
</div>
<!--
<script>
    const radios = document.querySelectorAll('input[name="type"]');
    radios.forEach(radio => {
        radio.addEventListener('change', function () {
            document.getElementById('extra-options').style.display =
                this.value === 'autre' ? 'block' : 'none';
        });
    });
</script>
-->