<!-- fragment-error.html -->
<div th:fragment="fragmentErreur">
    <div id="errors-container" style="display: none;">
        <ul>
            <!-- Utilisation de th:each pour afficher toutes les erreurs associées aux champs -->
            <li data-th-each="keyError: ${#fields.errors()}"
                th:data-field="${keyError.fieldName}"
                th:data-message="${keyError}">
                <!-- Message d'erreur -->
                <span data-th-text="${keyError}"></span>
            </li>
        </ul>
    </div>
</div>
