<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<div th:fragment="header">
    <!-- Import des modales -->
    <div th:replace="fragments/modals-auth :: modals-auth"></div>

    <!-- Header lorsque l'utilisateur n'est pas connecté -->
    <header data-th-if="${utilisateur.noUtilisateur < 1}">
        <div class="nav-container">
            <a href="/" class="logo">
                <img th:src="@{/img/logoENI.png}" alt="Logo ENI-Enchères">
                <span>ENI-Enchères</span>
            </a>
            <nav class="nav_bar">
                <ul>
                    <li>
                        <a href="#" onclick="openModal('registerModal')"><i class="fa-solid fa-user-plus"></i><span class="nav_titre">S'inscrire</span></a>
                    </li>
                    <li>
                        <a href="#" onclick="openModal('loginModal')"><i class="fa-solid fa-right-to-bracket"></i><span class="nav_titre">Se connecter</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Header lorsque l'utilisateur est connecté -->
    <header data-th-if="${utilisateur.noUtilisateur > 0}">
        <div class="nav-container">
            <a href="/" class="logo">
                <img th:src="@{/img/logoENI.png}" alt="Logo ENI-Enchères">
                <span>ENI-Enchères</span>
            </a>
            <nav class="nav_bar">
                <ul>
                    <!-- Panneau de contrôle visible uniquement si l'utilisateur est admin -->
                    <li data-th-if="${utilisateur.admin}">
                        <a href="#" class="admin-link"><i class="fa-solid fa-cogs"></i><span class="nav_titre">Panneau de contrôle</span></a>
                    </li>

                    <li>
                        <a data-th-href="@{/monProfil}" class="profile-link">
                            <i class="fa-regular fa-user"></i>
                            <span class="nav_titre" th:text="${utilisateur.pseudo}+'   '"></span>
                        </a>
                        <span class="nav_titre credit" th:text="' '+${utilisateur.credit}"></span>

                        <img data-th-src="@{/img/dollar.png}" alt="image de piece" id="imgCoin"/>
                    </li>
                    <li>
                        <a data-th-href="@{/encheres}"><i class="fa-solid fa-gavel"></i><span class="nav_titre">Enchères</span></a>
                    </li>
                    <li>
                        <a data-th-href="@{/logout}"><i class="fa-regular fa-circle-xmark"></i><span class="nav_titre">Déconnexion</span></a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
</div>
