<div th:fragment="modals-auth">
    <!-- Modal Connexion -->
    <div id="loginModal" class="modals-auth-modal">
        <div class="modals-auth-modal-content">
            <span class="modals-auth-close" onclick="closeModal('loginModal')">&times;</span>
            <h2>Connexion</h2>
            <form class="modals-auth-form" th:action="@{/login}" method="post">
                <input type="text" name="username" id="username" placeholder="Pseudo" required>
                <input type="password" name="password" id="password" placeholder="Mot de passe" required>
                <button type="submit">Se connecter</button>
            </form>
            <p class="modals-auth-switch-link">
                Pas encore inscrit ?
                <a href="#" onclick="switchModal('loginModal', 'registerModal')">Créer un compte</a>
            </p>
        </div>
    </div>

    <!-- Modal Inscription -->
    <div id="registerModal" class="modals-auth-modal">
        <div class="modals-auth-modal-content">
            <span class="modals-auth-close" onclick="closeModal('registerModal')">&times;</span>
            <h2>Inscription</h2>
            <form class="modals-auth-form" th:action="@{/inscription}" th:object="${utilisateurDTO}" method="post">
                <input type="text" name="pseudo" th:field="*{pseudo}" placeholder="Pseudo" required>
                <input type="text" name="nom" th:field="*{nom}" placeholder="Nom" required>
                <input type="text" name="prenom" th:field="*{prenom}" placeholder="Prénom" required>
                <input type="email" name="email" th:field="*{email}" placeholder="Email" required>
                <input type="text" name="telephone" th:field="*{telephone}" placeholder="Téléphone" required>
                <input type="text" name="rue" th:field="*{rue}" placeholder="Rue" required>
                <input type="text" name="codePostal" th:field="*{codePostal}" placeholder="Code postal" required>
                <input type="text" name="ville" th:field="*{ville}" placeholder="Ville" required>
                <input type="password" name="NewMotDePasse" th:field="*{NewMotDePasse}" placeholder="Mot de passe" required>
                <input type="password" name="ConfirmeMotDePasse" th:field="*{ConfirmeMotDePasse}" placeholder="Confirmer le mot de passe" required>
                <button type="submit">S'inscrire</button>
                <div th:replace="fragments/fragment-error :: fragmentErreur"></div>
            </form>
            <p class="modals-auth-switch-link">
                Déjà inscrit ?
                <a href="#" onclick="switchModal('registerModal', 'loginModal')">Se connecter</a>
            </p>

        </div>
    </div>

    <script th:inline="javascript">
        function closeModal(id) {
            document.getElementById(id).style.display = "none";
        }

        function openModal(id) {
            document.getElementById(id).style.display = "block";
        }

        function switchModal(current, target) {
            closeModal(current);
            openModal(target);
        }

        // Vérifie si le modèle a l'attribut showLoginModal
        var showLoginModal = /*[[${showLoginModal}]]*/ false;
        if (showLoginModal) {
            openModal('loginModal');  // Ouvre le modal de connexion
        }
        var showInscriptionModal = /*[[${showInscriptionModal}]]*/ false;
        if(showInscriptionModal){
            openModal('registerModal')
        }
    </script>
</div>
