<div th:fragment="navbar-connectee">
    <header>
        <div class="nav-container">
            <a href="/" class="logo">
                <img th:src="@{/img/logoENI.png}" alt="Logo ENI-Enchères">
                <span>ENI-Enchères</span>
            </a>
            <nav>
                <a href="/profil" class="profile-link">
<!--                    <img th:src="@{'/img/profils/' + ${utilisateur.photo}}" alt="Photo de profil" class="profile-pic">-->
                    <span th:text="${utilisateur.pseudo}">Pseudo</span>
                </a>
                <a href="/encheres">Mes enchères</a>
                <a href="/deconnexion">Déconnexion</a>
            </nav>
        </div>
    </header>
</div>
