<div th:fragment="profilForm(mode)">
    <form th:action="@{/monProfil}" th:object="${utilisateurDTO}" method="post">
        <ul>
            <li>
                <label for="pseudo">Pseudo :</label>
                <input type="text" id="pseudo" name="pseudo"
                       th:field="*{pseudo}"
                       th:readonly="${mode == 'display'}"
                       th:disabled="${mode == 'display'}" required />
            </li>
            <li>
                <label for="nom">Nom :</label>
                <input type="text" id="nom" name="nom"
                       th:field="*{nom}"
                       th:readonly="${mode == 'display'}"
                       th:disabled="${mode == 'display'}" required />
            </li>
            <li>
                <label for="prenom">Prénom :</label>
                <input type="text" id="prenom" name="prenom"
                       th:field="*{prenom}"
                       th:readonly="${mode == 'display'}"
                       th:disabled="${mode == 'display'}" required />
            </li>
            <li th:if="${mode == 'modif'}">
                <label for="NewMotDePasse">Nouveau mot de passe :</label>
                <input type="password" id="NewMotDePasse" name="NewMotDePasse"
                       th:field="*{NewMotDePasse}" />
            </li>
            <li th:if="${mode == 'modif'}">
                <label for="ConfirmeMotDePasse">Confirmer mot de passe :</label>
                <input type="password" id="ConfirmeMotDePasse" name="ConfirmeMotDePasse"
                       th:field="*{ConfirmeMotDePasse}" />
            </li>

            <li>
                <label for="email">Email :</label>
                <input type="email" id="email" name="email"
                       th:field="*{email}"
                       th:readonly="${mode == 'display'}"
                       th:disabled="${mode == 'display'}" required />

            </li>
            <li>
                <label for="telephone">Téléphone :</label>
                <input type="text" id="telephone" name="telephone"
                       th:field="*{telephone}"
                       th:readonly="${mode == 'display'}"
                       th:disabled="${mode == 'display'}" required />
            </li>
            <li>
                <label for="rue">Rue :</label>
                <input type="text" id="rue" name="rue"
                       th:field="*{rue}"
                       th:readonly="${mode == 'display'}"
                       th:disabled="${mode == 'display'}" required />
            </li>
            <li>
                <label for="codePostal">Code Postal :</label>
                <input type="text" id="codePostal" name="codePostal"
                       th:field="*{codePostal}"
                       th:readonly="${mode == 'display'}"
                       th:disabled="${mode == 'display'}" required />
            </li>
            <li>
                <label for="ville">Ville :</label>
                <input type="text" id="ville" name="ville"
                       th:field="*{ville}"
                       th:readonly="${mode == 'display'}"
                       th:disabled="${mode == 'display'}" required />
            </li>
            <button type="submit" th:if="${mode == 'modif'}">Enregistrer</button>
        </ul>
    </form>
</div>
