.encheres {
    margin: 2rem 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

/* Style général du carousel */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.card-container {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    flex: 0 0 25%; /* Chaque carte occupe 25% de la largeur, donc 4 cartes par slide */
    box-sizing: border-box;
    padding: 10px;
}

.card-image img {
    width: 100%;
    height: auto;
}

/* Les boutons de navigation (flèches) */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    border: none;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.carousel-btn:hover {
    opacity: 1;
}
.h2{
    color: red;
}

/* Positionnement des flèches */
.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}

/* Affichage des flèches au survol du carousel */
.carousel:hover .carousel-btn {
    opacity: 1;
}
