/*sur les ecrans quand la largeur de la fenêtre fait au max 767 px*/

@media screen and (min-width:300px) and ( max-width:767px) {
    body {
        width: 100%;
        margin: 0 auto;
    }

    .encheres {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titre_mobile_encheres {
        color: red;
    }
}