<html data-th-replace="~{layout/layout :: layout(content=~{:: main}, title=~{:: title}, css=~{:: #extraCss})}">
<head>
    <title>Administration</title>
</head>
<body>
<div class="admin-container">
    <div class="row">
        <!-- Première colonne de 2 cartes -->
        <div class="card_admin" style="background-color: rgba(255, 99, 71, 0.1);">
            <div class="card-header_admin">
                <h3>Désactiver un compte utilisateur</h3>
            </div>
            <div class="card-body_admin">
                <button class="secondary_admin">Désactiver</button>
            </div>
        </div>

        <div class="card_admin" style="background-color: rgba(39, 174, 96, 0.1);">
            <div class="card-header_admin">
                <h3>Supprimer des comptes utilisateur</h3>
            </div>
            <div class="card-body_admin">
                <button class="secondary_admin">Supprimer</button>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Deuxième colonne de 3 cartes -->
        <div class="card_admin" style="background-color: rgba(52, 152, 219, 0.1);">
            <div class="card-header_admin">
                <h3>Ajouter une catégorie</h3>
            </div>
            <div class="card-body_admin">
                <button class="secondary_admin">Ajouter</button>
            </div>
        </div>

        <div class="card_admin" style="background-color: rgba(241, 196, 15, 0.1);">
            <div class="card-header_admin">
                <h3>Modifier une catégorie</h3>
            </div>
            <div class="card-body_admin">
                <button class="secondary_admin">Modifier</button>
            </div>
        </div>

        <div class="card_admin" style="background-color: rgba(231, 76, 60, 0.1);">
            <div class="card-header_admin">
                <h3>Supprimer une catégorie</h3>
            </div>
            <div class="card-body_admin">
                <button class="secondary_admin">Supprimer</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
