<html data-th-replace="~{layout/layout :: layout(content=~{:: main}, title=~{:: title}, css=~{:: #extraCss})}">
<head>
    <title>Vendre un nouvel article</title>
</head>

<body>
<main>
    <div class="main-card-article">
        <h2 data-th-if="${mode == 'creation'}">Vendre un nouvel article</h2>
        <h2 data-th-if="${mode == 'modif'}" data-th-text="'modification de l\'article ' + ${article.nomArticle}"></h2>
        <form th:action="@{${formAction}}" th:object="${article}" method="post" enctype="multipart/form-data">

            <label for="nomArticle">Article :</label>
            <input type="text" id="nomArticle" name="nomArticle" th:field="*{nomArticle}" required>

            <label for="description">Description :</label>
            <textarea id="description" name="description" th:field="*{description}" required></textarea>

            <label for="categorie">Catégorie :</label>
            <select id="categorie" name="categorie" th:field="*{categorie}">
                <option data-th-each="categorie : ${categories}"
                        data-th-value="${categorie.idCategorie}"
                        data-th-text="${categorie.libelle}"></option>
            </select>
            <p data-th-if="${mode == 'modif'}">Veuillez sélectionner une catégorie pour votre article même si elle ne change pas</p>

            <label for="image">Photo de l'article :</label>
            <input type="file" id="image" name="image" accept="image/*" required>
            <div id="imagePreviewContainer">
                <img id="imagePreview" src="#" alt="Aperçu de l'image">
            </div>
            <p data-th-if="${mode == 'modif'}">Veuillez sélectionner une image pour votre article même si elle ne change pas</p>

            <label for="miseAPrix">Mise à prix :</label>
            <input type="number" id="miseAPrix" name="miseAPrix" th:field="*{miseAPrix}" min="1" max="10000" value="150" required>

            <label for="dateDebutEncheres">Début de l'enchère :</label>
            <input type="date" id="dateDebutEncheres" name="dateDebutEncheres" th:field="*{dateDebutEncheres}"
                   th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>

            <label for="dateFinEncheres">Fin de l'enchère :</label>
            <input type="date" id="dateFinEncheres" name="dateFinEncheres" th:field="*{dateFinEncheres}"
                   th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required>

            <div class="retrait-card-article">
                <h3>Retrait</h3>

                <div class="form-group">
                    <label for="rue">Rue :</label>
                    <input type="text" id="rue" name="rue" th:field="*{rue}" required>
                </div>

                <div class="form-group">
                    <label for="codePostal">Code postal :</label>
                    <input type="text" id="codePostal" name="codePostal" th:field="*{codePostal}" required>
                </div>

                <div class="form-group">
                    <label for="ville">Ville :</label>
                    <input type="text" id="ville" name="ville" th:field="*{ville}" required>
                </div>
            </div>

            <button type="submit">Enregistrer</button>
            <button type="reset">Effacer</button>
            <div th:replace="fragments/fragment-error :: fragmentErreur"></div>
        </form>
    </div>
    <script src="/js/article-preview.js"></script>
</main>
</body>
