<!--&lt;!&ndash; Navbar ou header selon connexion &ndash;&gt;-->
<!--<div th:if="${utilisateur != null}" th:replace="fragments/navbar-connectee :: navbar-connectee"></div>-->
<!--<div th:if="${utilisateur == null}" th:replace="fragments/header :: header"></div>-->

<!--&lt;!&ndash; Modals pour Connexion/Inscription &ndash;&gt;-->
<!--<div th:replace="fragments/modal-auth :: modals-auth"></div>-->

<html data-th-replace="~{layout/layout :: layout(content=~{:: main}, title=~{:: title}, css=~{:: #extraCss})}">
<title>Enchères ENI - Accueil</title>

<main>
    <section class="filtres">
        <p class="filtre-title">Filtres :</p>
        <div class="filtre-group">
            <div class="filtre-input">
                <label for="searchName"></label>
                <div class="input-icon">
                    <i class="icon-search">🔍</i>
                    <input type="text" id="searchName" placeholder="Le nom de l'article contient">
                </div>
            </div>
            <div class="filtre-button">
                <input type="submit" value="Rechercher" class="btn">
            </div>
            <div class="filtre-categorie">
                <label for="categorie">Catégorie :</label>
                <select id="categorie">
                    <option>Toutes</option>
                    <option data-th-each="categorie : ${categories}" data-th-text="${categorie.libelle}"></option>



                </select>
            </div>
        </div>
    </section>

    <h2 class="encheres-title">Liste des enchères</h2>

    <section class="encheres">
        <div class="card-container">
            <div class="card" th:each="article : ${articles}">
                <div class="card-image">
                    <img th:src="@{/img/lamp-design.jpg}" alt="Image de l'article">
                </div>

                <div class="card-content">
                    <h3 th:text="${article.nomArticle}" class="card-title">Nom article</h3>
                    <p><strong>Prix :</strong> <span th:text="${article.miseAPrix} + ' crédits'"></span></p>
                    <p><strong>Fin de l'enchère :</strong> <span th:text="${#dates.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></span></p>
                    <p><strong>Vendeur :</strong> <span th:text="${article.utilisateur.pseudo}"></span></p>
                    <a th:href="@{'/encheres/' + ${article.noArticle}}" class="btn">Voir</a>
                </div>
            </div>
        </div>
    </section>
</main>
</html>

