<html data-th-replace="~{layout/layout :: layout(content=~{:: main}, title=~{:: title}, css=~{:: #extraCss})}">
<title>Enchères ENI - Mes enchères</title>

<div id="extraCss">
    <link rel="stylesheet" data-th-href="@{/css/mesEncheres.css}">
    <link rel="stylesheet" data-th-href="@{/css/mesEncheres_mobile.css}">
    <link rel="stylesheet" data-th-href="@{/css/form-filtres-encheres.css}">
</div>

<main>
    <form data-th-action="@{/encheres}" method="post" class="filtre-form">
        <div class="filtre-barre">
            <label for="filtre">Filtre :</label>
            <input type="text" id="filtre" name="filtre" placeholder="Nom d'article ou mot-clé">
            <select id="categorie" name="categorie">
                <option value="all">Toutes les catégories</option>
                <option th:each="categorie : ${categories}"
                        th:value="${categorie.idCategorie}"
                        th:text="${categorie.libelle}"></option>
            </select>
            <div class="submit-wrapper">
                <button type="submit" class="btn-filtrer">Filtrer</button>
            </div>
        </div>

        <div class="filtre-groupes">
            <div class="filtre-section">
                <label class="radio-label">
                    <span>Achats</span>
                    <input type="radio" name="groupChoice" value="group1" onclick="switchGroup('group1')">
                </label>
                <div id="group1" class="filtre-options">
                    <label><input type="checkbox" name="g1_opt1"> Enchères ouvertes</label>
                    <label><input type="checkbox" name="g1_opt2"> Mes enchères en cours</label>
                    <label><input type="checkbox" name="g1_opt3"> Mes enchères remportées</label>
                </div>
            </div>

            <div class="filtre-section">
                <label class="radio-label">
                    <span>Ventes</span>
                    <input type="radio" name="groupChoice" value="group2" onclick="switchGroup('group2')">
                </label>

                <div id="group2" class="filtre-options">
                    <label><input type="checkbox" name="g2_opt1"> Mes ventes en cours</label>
                    <label><input type="checkbox" name="g2_opt2"> Mes ventes non débutées</label>
                    <label><input type="checkbox" name="g2_opt3"> Ventes terminées</label>
                </div>
            </div>
        </div>
    </form>

    <!-- Section 1 : Enchères ouverte -->
    <h2 data-th-if="${not #lists.isEmpty(encheresOuvertes)}" class="titre_mobile_encheres">Les enchères ouvertes</h2>
    <section data-th-if="${not #lists.isEmpty(encheresOuvertes)}" class="encheres">
        <div class="carousel">
            <button class="carousel-btn prev">&#10094;</button>
            <div class="carousel-viewport">
                <div class="card-container">
                    <div class="card_mesEncheres" th:each="article : ${encheresOuvertes}">
                        <div class="card-image">
                            <img th:src="@{${article.urlImage}}" alt="Image de l'article">
                        </div>
                        <div class="card-content">
                            <h3 th:text="${article.nomArticle}" class="card-title">Nom article</h3>
                            <p><strong>Mise a prix :</strong> <span th:text="${article.miseAPrix} + ' crédits'"></span></p>
                            <p><strong>Fin :</strong> <span th:text="${#dates.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></span></p>
                            <p><strong>Vendeur :</strong> <span th:text="${article.utilisateur.pseudo}"></span></p>
                            <a th:href="@{'/encheres/' + ${article.noArticle}}" class="btn">Voir</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-btn next">&#10095;</button>
        </div>
    </section>

    <!-- Section 2 : Enchères en cours -->
    <h2 data-th-if="${not #lists.isEmpty(encheresEnCours)}" class="titre_mobile_encheres">Mes enchères en cours</h2>
    <section data-th-if="${not #lists.isEmpty(encheresEnCours)}" class="encheres">
        <div class="carousel">
            <button class="carousel-btn prev">&#10094;</button>
            <div class="carousel-viewport">
                <div class="card-container">
                    <div class="card_mesEncheres" th:each="article : ${encheresEnCours}">
                        <div class="card-image">
                            <img th:src="@{${article.urlImage}}" alt="Image de l'article">
                        </div>
                        <div class="card-content">
                            <h3 th:text="${article.nomArticle}" class="card-title">Nom article</h3>
                            <p><strong>Prix :</strong> <span th:text="${article.miseAPrix} + ' crédits'"></span></p>
                            <p><strong>Fin :</strong> <span th:text="${#dates.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></span></p>
                            <p><strong>Vendeur :</strong> <span th:text="${article.utilisateur.pseudo}"></span></p>
                            <a th:href="@{'/encheres/' + ${article.noArticle}}" class="btn">Voir</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-btn next">&#10095;</button>
        </div>
    </section>

    <!-- Section 3 : Enchères remportés -->
    <h2 data-th-if="${not #lists.isEmpty(encheresRemportes)}" class="titre_mobile_encheres">Mes enchères remportées</h2>
    <section data-th-if="${not #lists.isEmpty(encheresRemportes)}" class="encheres">
        <div class="carousel">
            <button class="carousel-btn prev">&#10094;</button>
            <div class="carousel-viewport">
                <div class="card-container">
                    <div class="card_mesEncheres" th:each="article : ${encheresRemportes}">
                        <div class="card-image">
                            <img th:src="@{${article.urlImage}}" alt="Image de l'article">
                        </div>
                        <div class="card-content">
                            <h3 th:text="${article.nomArticle}" class="card-title">Nom article</h3>
                            <p><strong>Prix :</strong> <span th:text="${article.miseAPrix} + ' crédits'"></span></p>
                            <p><strong>Fin :</strong> <span th:text="${#dates.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></span></p>
                            <p><strong>Vendeur :</strong> <span th:text="${article.utilisateur.pseudo}"></span></p>
                            <a th:href="@{'/encheres/' + ${article.noArticle}}" class="btn">Voir</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-btn next">&#10095;</button>
        </div>
    </section>

    <!-- Section 4 : Ventes en cours -->
    <h2 data-th-if="${not #lists.isEmpty(venteEnCours)}" class="titre_mobile_encheres">Mes ventes en cours</h2>
    <section data-th-if="${not #lists.isEmpty(venteEnCours)}" class="encheres">
        <div class="carousel">
            <button class="carousel-btn prev">&#10094;</button>
            <div class="carousel-viewport">
                <div class="card-container">
                    <div class="card" th:each="article : ${venteEnCours}">
                        <div class="card-image">
                            <img th:src="@{${article.urlImage}}" alt="Image de l'article">
                        </div>
                        <div class="card-content">
                            <h3 th:text="${article.nomArticle}" class="card-title">Nom article</h3>
                            <p><strong>Prix :</strong> <span th:text="${article.miseAPrix} + ' crédits'"></span></p>
                            <p><strong>Fin :</strong> <span th:text="${#dates.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></span></p>
                            <p><strong>Vendeur :</strong> <span th:text="${article.utilisateur.pseudo}"></span></p>
                            <a th:href="@{'/encheres/' + ${article.noArticle}}" class="btn">Voir</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-btn next">&#10095;</button>
        </div>
    </section>
    <!-- Section 5 : Ventes non débutées -->
    <h2 data-th-if="${not #lists.isEmpty(venteNonDebutes)}" class="titre_mobile_encheres">Mes ventes non débutées</h2>
    <section data-th-if="${not #lists.isEmpty(venteNonDebutes)}" class="encheres">
        <div class="carousel">
            <button class="carousel-btn prev">&#10094;</button>
            <div class="carousel-viewport">
                <div class="card-container">
                    <div class="card_mesEncheres" th:each="article : ${venteNonDebutes}">
                        <div class="card-image">
                            <img th:src="@{${article.urlImage}}" alt="Image de l'article">
                        </div>
                        <div class="card-content">
                            <h3 th:text="${article.nomArticle}" class="card-title">Nom article</h3>
                            <p><strong>Prix :</strong> <span th:text="${article.miseAPrix} + ' crédits'"></span></p>
                            <p><strong>Fin :</strong> <span th:text="${#dates.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></span></p>
                            <p><strong>Vendeur :</strong> <span th:text="${article.utilisateur.pseudo}"></span></p>
                            <a th:href="@{'/encheres/' + ${article.noArticle}}" class="btn">Voir</a>
                            <a th:href="@{'/articles/modifier/'+${article.noArticle}}" class="btn">Modifier</a>
                            <a th:href="@{'/articles/supprimer/'+${article.noArticle}}" class="btn">Annuler la vente</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-btn next">&#10095;</button>
        </div>
    </section>
    <!-- Section 6 : Ventes terminées -->
    <h2 data-th-if="${not #lists.isEmpty(venteTerminees)}" class="titre_mobile_encheres">Mes ventes terminées</h2>
    <section data-th-if="${not #lists.isEmpty(venteTerminees)}" class="encheres">
        <div class="carousel">
            <button class="carousel-btn prev">&#10094;</button>
            <div class="carousel-viewport">
                <div class="card-container">
                    <div class="card_mesEncheres" th:each="article : ${venteTerminees}">
                        <div class="card-image">
                            <img th:src="@{${article.urlImage}}" alt="Image de l'article">
                        </div>
                        <div class="card-content">
                            <h3 th:text="${article.nomArticle}" class="card-title">Nom article</h3>
                            <p><strong>Prix :</strong> <span th:text="${article.miseAPrix} + ' crédits'"></span></p>
                            <p><strong>Fin :</strong> <span th:text="${#dates.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></span></p>
                            <p><strong>Vendeur :</strong> <span th:text="${article.utilisateur.pseudo}"></span></p>
                            <a th:href="@{'/encheres/' + ${article.noArticle}}" class="btn">Voir</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-btn next">&#10095;</button>
        </div>
    </section>

    <!-- Scripts -->
    <script>
        function switchGroup(activeGroupId) {
            const groups = ['group1', 'group2'];
            groups.forEach(groupId => {
                const checkboxes = document.querySelectorAll(`#${groupId} input[type="checkbox"]`);
                checkboxes.forEach(checkbox => {
                    if (groupId === activeGroupId) {
                        checkbox.disabled = false;
                    } else {
                        checkbox.checked = false;
                        checkbox.disabled = true;
                    }
                });
            });
        }
        window.onload = () => {
            switchGroup('');
        };
    </script>
    <script src="/js/carousel.js"></script>
</main>
</html>
